<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="Console" class="org.apache.log4j.ConsoleAppender"> 
		<layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%d{HH:mm:ss.SSS} [%t] %c{1} - %m%n"/> 
  		</layout> 	      
    </appender>
    
	<appender name="RollingFile" class="org.apache.log4j.RollingFileAppender">
	    <param name="file" value="./log/sensoryturtlesweb.log"/>
	    <param name="MaxFileSize" value="10MB"/>
	    <param name="MaxBackupIndex" value="4"/>
	    <layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%d{dd/MMM/yyyy HH:mm:ss.SSS}; [%t] {%c} %p; %m%n"/> 
	    </layout> 	
	</appender>     


	<logger name="it.latartaruga.sensoryturtles">
	    <level value="ALL" />
	    <appender-ref ref="RollingFile"  />
	</logger>
		  
	<root>
		<level value="ALL" />
		<appender-ref ref="Console" />
	</root>                	

</log4j:configuration>

